<table class="syllabus-table">
  <thead>
    <tr>
      <th>Lecture Topic</th>
      <th>Note</th>
      <th>Discussion</th>
      <th>Homework</th>
    </tr>
  </thead>
  <tbody>
    {% for lecture in site.data.syllabus_16a.syllabus %}
    <tr>
      <td>
        {{ lecture.topic }}
        <br>
        {% if lecture.LectureRecording %}
        <a href="{{ lecture.LectureRecording }}">Recording</a>
        {% endif %}
      </td>
      
      {% if lecture.Note %}
      <td>
        {% for note in lecture.Note %}
        <a href="{{ note.link }}">Note {{note.number}}</a><br/>
        {% endfor %}
      </td>
      {% else %}
      <td>No Notes</td>
      {% endif %}

      <td>
        {% if lecture.DiscussionName != empty %}
        Discussion {{ lecture.DiscussionName }}<br/>
        {% endif %}
        {% if lecture.DiscussionPDF != empty %}
        <a href="{{ lecture.DiscussionPDF }}">PDF</a>
        {% endif %}
        {% if lecture.DiscussionNotebook != empty %}
        {% if lecture.DiscussionPDF != empty %}<br/>{% endif %}
        <a href="{{ lecture.DiscussionNotebook }}">Notebook</a>
        {% endif %}
      </td>
      {% if lecture.HomeworkRowspan %}
      <td rowspan="{{ lecture.HomeworkRowspan }}">
        Homework {{ lecture.HomeworkNumber }}<br/>
        <a href="{{ lecture.HomeworkPDF }}">PDF</a>
        {% if lecture.HomeworkNotebook != empty %}
        <br/><a href="{{ lecture.HomeworkNotebook }}">Notebook</a>
        {% endif %}
      </td>
      {% elsif lecture.HomeworkContinues %}
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
