<table class="syllabus-table" style="width: 100%; table-layout: fixed;">
  <thead>
    <tr>
      <th style="width: 46%;">Lecture Topic</th>
      <th style="width: 18%;">Note<br/><a class="btn" href="/assets/16a/downloads/eecs16a_notes.pdf">Download all</a></th>
      <th style="width: 18%;">Discussion<br/><a class="btn" href="/assets/16a/downloads/eecs16a_discussion_exercises.pdf">Download all</a></th>
      <th style="width: 18%;">Homework<br/><a class="btn" href="/assets/16a/downloads/eecs16a_homework_exercises.pdf">Download all</a></th>
    </tr>
  </thead>
  <tbody>
    {% for lecture in site.data.syllabus_16a.syllabus %}
    <tr>
      <td>
        {{ lecture.topic }}
        <br>
        {% if lecture.LectureRecording %}
        <a href="{{ lecture.LectureRecording }}">Recording</a>
        {% endif %}
      </td>
      
      {% if lecture.Note %}
      <td>
        {% for note in lecture.Note %}
        <a href="{{ note.link }}">Note {{note.number}}</a><br/>
        {% endfor %}
      </td>
      {% else %}
      <td></td>
      {% endif %}

      <td>
        {% if lecture.DiscussionName != empty %}
        Discussion {{ lecture.DiscussionName }}<br/>
        {% endif %}
        {% if lecture.DiscussionPDF != empty or lecture.DiscussionNotebook != empty %}
        <span style="white-space: nowrap;">
          {% if lecture.DiscussionPDF != empty %}
          <a href="{{ lecture.DiscussionPDF }}">PDF</a>
          {% endif %}
          {% if lecture.DiscussionNotebook != empty %}
          {% if lecture.DiscussionPDF != empty %} / {% endif %}
          <a href="{{ lecture.DiscussionNotebook }}">Notebook</a>
          {% endif %}
        </span>
        {% endif %}
      </td>
      {% if lecture.HomeworkRowspan %}
      <td rowspan="{{ lecture.HomeworkRowspan }}">
        Homework {{ lecture.HomeworkNumber }}<br/>
        <span style="white-space: nowrap;">
          <a href="{{ lecture.HomeworkPDF }}">PDF</a>
        {% if lecture.HomeworkNotebook != empty %}
         / <a href="{{ lecture.HomeworkNotebook }}">Notebook</a>
        {% endif %}
        </span>
      </td>
      {% elsif lecture.HomeworkContinues %}
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
