<table class="syllabus-table">
    <thead>
      <tr>
        <th>Lecture Topic</th>
        <th>Note</th>
        <th>Discussion</th>
        <th>Homework</th>
      </tr>
    </thead>
    <tbody>
      {% for lecture in site.data.syllabus_16b.syllabus %}
        <tr>
          <td>
            {{ lecture.topic }}
            {% if lecture["Lecture Recording"] != empty %}
            (<a href="{{ lecture["Lecture Recording"] }}">Recording</a>)
            {% endif %}
          </td>
          <td><a href="{{ lecture.Note }}">Download</a></td>
          <td>
            {% if lecture.DiscussionName != empty %}
            Discussion {{ lecture.DiscussionName }}<br/>
            {% endif %}
            {% if lecture.DiscussionPDF != empty %}
            <a href="{{ lecture.DiscussionPDF }}">PDF</a>
            {% endif %}
            {% if lecture.DiscussionNotebook != empty %}
            {% if lecture.DiscussionPDF != empty %}<br/>{% endif %}
            <a href="{{ lecture.DiscussionNotebook }}">Notebook</a>
            {% endif %}
          </td>
          <td>
            {% if lecture.HomeworkPDF != empty %}
            <a href="{{ lecture.HomeworkPDF }}">PDF</a><br/>
            {% endif %}
            {% if lecture.HomeworkNotebook != empty %}
            <a href="{{ lecture.HomeworkNotebook }}">Notebook</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
